.container {
  padding: 20px 0 0 0;
}

.form-container {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  margin: 15px 0 0 0;
  padding: 1rem;
  /* background-color:  #424245; */
  background-color: #6d6c6c;
  color: white;
}

.form-input .button-container {
  justify-content: center;
  margin: 15px 0 0 0;
}

.form-input .button-container button {
  max-width: 200px;
}

.row > .col-12 {
  padding: 0.5rem;
}
.header {
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.logo {
  width: 100%;
  height: 100%;
  margin: auto;
}

.tri{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

.tri .btn-outline-primary{
  border: 1px solid #6d6c6c;
  margin: 2px;
  border-radius: 5px;
}

.tri .btn{
  color: #6d6c6c;
}

.btn-check:checked + .btn-outline-primary{
  background-color: #6d6c6c;
  color: white;
  transform: scale(1.02);
  transition: transform 0.2s ease-out;
}
.datepicker {
  width: 100%;
}

.datepicker .btn {
  display: flex;
}
