<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="header">
        <img
          class="logo"
          src="./../../assets/images/logo.png"
          alt="Flickr logo"
        />
      </div>
      <form class="form-input" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Recherchez des images</h2>
        <div class="row">
          <div class="col-12">
            <label for="keyword">Mot clé</label>
            <input
              type="Search me"
              class="form-control"
              formControlName="keyword"
              placeholder="ex: Porsche"
            />
          </div>
          <div class="col-12">
            <label for="number">Nombre d'images</label>
            <input
              type="number"
              class="form-control"
              (keyup)="setNumberOfImages($event)"
              [defaultValue]="this.numberOfImages"
              formControlName="numberOfImages"
            />
          </div>
          <div class="col-12">
            <label for="datemin">Date min</label>
            <input
              type="date"
              class="form-control"
              placeholder="Date min d'upload"
              id="datemin"
              formControlName="startDate"
              [defaultValue]="startDate"
            />
          </div>
          <div class="col-12">
            <label for="datemax">Date max</label>
            <input
              type="date"
              class="form-control"
              placeholder="Date max d'upload"
              id="datemax"
              formControlName="endDate"
              [defaultValue]="endDate"
            />
          </div>

          <div class="col-12">
            <label for="display">affichage</label>
            <select class="form-control">
              <option>Liste</option>
              <option>Slider</option>
            </select>
          </div>
          <div class="col-12">
            <Label for="hashtag">Hashtag</Label>
            <input
              type="text"
              class="form-control"
              placeholder="Hashtag"
              id="hashtag"
            />
          </div>
          <div class="col-12">
            <label for="size">Taille</label>
            <select class="form-control">
              <option>< 300ko</option>
              <option>< 1Mo</option>
              <option>< 5Mo</option>
              <option>< 10Mo</option>
            </select>
          </div>
        </div>
        <div class="row button-container">
          <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
      </form>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9 p-9">
      <div class="tri">
        <div class="btn-group">
          <input checked type="radio" class="btn-check" name="options" id="radio1" autocomplete="off" value="date-posted-desc" (click)="sortPhotos($event)">
          <label class="btn btn-outline-primary p-1" for="radio1">Les plus récentes</label>

          <input type="radio" class="btn-check" name="options" id="radio2" autocomplete="off" value="date-posted-asc" (click)="sortPhotos($event)">
          <label class="btn btn-outline-primary p-1" for="radio2">Les plus anciennes</label>
      
          <input type="radio" class="btn-check" name="options" id="radio3" autocomplete="off" value="interestingness-desc" (click)="sortPhotos($event)">
          <label class="btn btn-outline-primary p-1" for="radio3">Les plus populaires</label>
      
          <input type="radio" class="btn-check" name="options" id="radio4" autocomplete="off" value="interestingness-asc" (click)="sortPhotos($event)">
          <label class="btn btn-outline-primary p-1" for="radio4">Les moins populaires</label>
        </div>
      </div>
      <!-- <div class="col-6 tri p-1 m-1">
        <label for="sort">Trier par :</label>
        <select class="form-control">
          <option value="most-recent" selected>Les plus récentes</option>
          <option value="most-popular">Les plus populaires</option>
        </select>
      </div> -->
      <app-cards-images [images]="images"></app-cards-images>
    </div>
  </div>
</div>


