.container {
  padding: 20px 0 0 0;
}

.form-container {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  margin: 15px 0 0 0;
  padding: 1rem;
  background-color: #424245;
  color: white;
}

.form-input .button-container {
  justify-content: center;
  margin: 15px 0 0 0;
}

.form-input .button-container button {
  max-width: 200px;
}

.row > .col-12 {
  padding: 0.5rem;
}
.header {
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.logo {
  width: 100%;
  height: 100%;
  margin: auto;
}