<div class="image col-12">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 p-3" *ngFor="let image of images">
      <div (click)="openDialog(image)">
        <mat-card class="example-card">
          <mat-card-header class="card-header">
            <div mat-card-avatar class="example-header-image">
              <img
                class="avatar"
                src="{{ image.ownerInfos.avatar }}"
                title="{{ image.ownerInfos.avatar }}/"
              />
            </div>
            <mat-card-title>{{ displayTitle(image.title) }}</mat-card-title>
            <mat-card-subtitle>by {{ image.ownerInfos.username }}</mat-card-subtitle>
          </mat-card-header>
          <img class="card-img" src="{{ image.url }}" title="{{ image.title }}" />
          <mat-card-content class="card-body">
            <p class="card-text">{{ image.datesFormatted.taken }}</p>
            {{ displayDescription(image.description)}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>