<!-- 
    create modal card with image details description, owner and tags
 -->
<div class="modal">
    <p>salut</p>
</div>












<!-- <div class="modal-header">
    <p>card-modal works!</p>
    <h5 class="modal-title" id="exampleModalLabel">{{ image.title }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div mat-card-avatar class="example-header-image">
            <img
              class="avatar"
              src="{{ image.owner.avatar }}"
              title="{{ image.owner.avatar }}/"
            />
          </div>
      <div class="col-12">
        <img class="card-img" src="{{ image.url }}" title="{{ image.title }}" />
      </div>
      <div class="col-12">
        <p>{{ image.description }}</p>
      </div>
      <div class="col-12">
        <p>by {{ image.owner.username }}</p>
      </div>
      <div class="col-12">
        <p>tags: {{ image.tags }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
  </div> -->
