::ng-deep.mat-dialog-container {
  padding: 0px;
  overflow-x: hidden;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.owner {
  color: grey;
}

.mat-dialog-content {
  max-height: initial;
}

.information {
  padding: 20px;
}

.information-header {
  display: flex;
  justify-content: space-between;
}

.information-header-user {
  display: flex;
}

.information-header-user h2 {
  margin: auto 0 auto 10px;
}

.information-header-user img {
  margin: auto 0;
}

.information-header-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header-date-views {
  display: flex;
  align-items: center;
}

.information-header-date-views h2{
  margin: auto 0 auto 10px;
}

.information-content {
  padding: 20px 10px 0 10px;
}

.comment-content {
  padding: 0 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.comment-header div {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.comment-header div h2{
  margin: auto;
  padding: 0 5px;
}

.tabs {
  max-width: 600px;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}