.modal-header {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
  justify-content: space-between;
}

.card-img {
  display: block;
  border-radius: 3px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.owner {
  color: grey;
}

.mat-dialog-content {
  max-height: initial;
}

.btn-close {
  margin-bottom: auto;
}

.modal-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #3f3c3c;
  bottom: 25px;
  text-transform: uppercase;
  margin-top: 10px;
}

.tabs {
  max-width: 600px;
}

.comment {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}
